name: Regenerate Wrapper

on:
  workflow_dispatch:

jobs:
  regen:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate wrapper
      run: |
        rm -rf gradle/wrapper/gradle-wrapper.jar
        ./gradlew wrapper --gradle-version 8.5

    - name: Commit wrapper
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add gradle/wrapper/gradle-wrapper.jar
        git commit -m "Regenerate Gradle wrapper"
        git push
